html,
body {
    overflow: hidden;
}


/* width */

::-webkit-scrollbar {
    width: 8px;
}


/* Track */

 ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px transparent;
    border-radius: 10px;
}


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #C8C6C4;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #98A3A6;
}

.col-2 {
    background-color: #F3F2F1;
    height: 100vh;
    overflow: hidden;
}

.col-2:hover {
    overflow: scroll;
}

.col-4 {
    background-color: #FFFFFF;
    height: 100vh;
    overflow: scroll;
}

.col-6 {
    background-color: #FAF9F8;
    height: 100vh;
    overflow: scroll;
}

.container-fluid {
    padding: 15px;
}

.content {
    margin: 0;
    width: inherit;
}

.content-1 {
    padding-top: 7px;
    padding-bottom: 7px;
}

.content-1:hover {
    background: #EDEBE9;
    cursor: default;
}


/* Compose */


/* @Tushar */

.col-6 {
    padding: 0;
}


/* @Tushar */

#compose {
    display: none;
    overflow: scroll;
    height: 90vh;
    background-color: #ffffff;
    border: 1px solid #EDEBE9;
    border-radius: 5px;
    margin: 7px 7px;
}


/* @Tushar */

.input-group {
    border-bottom: 1px solid #EDEBE9;
}


/* @Tushar */

.mb-3 {
    margin-bottom: 0 !important;
}


/* @Tushar */

.input-group-prepend {
    margin-left: 10px;
}


/* @Tushar */

#basic-addon1 {
    width: 4rem;
    border-color: #F8FAFB;
    margin-top: 11px;
    margin-right: 10px;
    margin-bottom: 11px;
    border-radius: 0;
    padding: 4px 15px;
}


/* @Tushar */

.form-control {
    height: inherit;
    border: 1px solid #ffffff;
}


/* @Tushar */

.btn-compose,
.btn-send {
    margin: 0;
    border: 1px solid #5C96AE;
    border-radius: 0.1rem;
    background-color: #5C96AE;
}


/* @Tushar */

.btn-compose:hover {
    background-color: #487B91;
}

.btn-send:hover {
    background-color: #487B91;
}


/* 
@Tushar */

#select-mail-ins {
    padding: 15rem 12rem;
}